@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html,body,header,footer,menu,nav,aside,main,article,section,div,span,h1,h2,h3,h4,p,a,hr,ul,ol,li,img,table,tr,td{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: "Rubik", "Chiron GoRound TC", sans-serif;
}
img{
    width: 100%;
    vertical-align: bottom;
}

:root{
    --mainColor--: #A1C6D9;
    --darkGray--: #1D1E1F;
    --midGray--: #292B2C;
    --lightGray--: #797979;
    --darkBlack--: #000;
    --alphaBlack--: #0008;
    --textWhite--: #FFF;
    --transition--: all 600ms ease;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-1{
    width: calc(100% / 12 * 1);
}
.grid-2{
    width: calc(100% / 12 * 2);
}
.grid-3{
    width: calc(100% / 12 * 3);
}
.grid-4{
    width: calc(100% / 12 * 4);
}
.grid-5{
    width: calc(100% / 12 * 5);
}
.grid-6{
    width: calc(100% / 12 * 6);
}
.grid-7{
    width: calc(100% / 12 * 7);
}
.grid-8{
    width: calc(100% / 12 * 8);
}
.grid-9{
    width: calc(100% / 12 * 9);
}
.grid-10{
    width: calc(100% / 12 * 10);
}
.grid-11{
    width: calc(100% / 12 * 11);
}
.grid-12{
    width: calc(100% / 12 * 12);
}

